.mobile-container {
}
.sidebar__content {
  font-family: DMSans, sans-serif;
  color: black;

  &:first-child {
    border-bottom: 1px #d8d8d8 solid;
    padding: 72px 36px 27px 36px;
  }
  &:last-child {
    padding: 0 36px;
  }
  h1,
  .total {
    font-size: 16px;
    font-weight: 400;
  }
  .items {
    font-size: 12px;
    font-weight: 400;
    margin: 17px auto 3px;
    line-height: 20px;
  }
  .view-cart {
    font-size: 16px;
    font-weight: 700;
    padding: 16px 100px;
    background-color: #fff;
    margin: 0 auto;
  }
  .subtotal-container {
    margin: 21px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.sidebar {
  background-color: #f1f1f1;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  min-width: 320px;
  z-index: 120;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.sidebar[aria-hidden='true'] {
  transition: 200ms;
  transform: translateX(100%);
}

.sidebar:not([aria-hidden]),
.sidebar[aria-hidden='false'] {
  transition: 200ms;
  transform: translateX(0);
}

.sidebar-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  img {
    left: 0;
    position: absolute;
  }
}

.delete-icon {
  position: absolute;
  width: 6px;
  height: 6px;
  margin-left: 10px;
  right: 20px;
}

.sidebar-footer {
  padding: 0 auto;
  bottom: 10px;
  width: 100%;
  margin-top: auto;
  margin-bottom: 20px;
}
.button-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}
