html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Allerta_Stencil";
  src: url("/fonts/AllertaStencil-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "DMSans";
  src: url("/fonts/DMSans-VariableFont_opsz,wght.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
}
.catalog-container {
  padding-bottom: 39px;
  justify-content: center;
}

.catalog-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
  max-width: 977px;
  row-gap: 86px;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10px;
  margin-bottom: 39px;
}
@media (max-width: 559px) {
  .catalog-items {
    grid-template-columns: repeat(2, 1fr);
    margin: 1px auto;
    row-gap: 20px;
  }
}

.shop-item {
  position: relative;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  overflow: hidden;
  font-family: "DMSans", sans-serif;
  font-size: 20px;
}
.shop-item__title {
  font-weight: 400;
  color: #000000;
  margin: 24px auto 16px;
  width: 100%;
}
@media (max-width: 860px) {
  .shop-item__title {
    font-size: 16px;
  }
}
@media (max-width: 559px) {
  .shop-item__title {
    font-size: 14px;
  }
}
.shop-item__price {
  font-weight: 14px;
  color: #A18A68;
}
@media (max-width: 860px) {
  .shop-item__price {
    font-size: 16px;
  }
}
@media (max-width: 559px) {
  .shop-item__price {
    font-size: 14px;
  }
}
.shop-item__price .sale {
  color: #D82700;
  text-decoration: line-through;
  margin-right: 10px;
}
.shop-item__content {
  width: 100%;
}

.item-discount {
  position: absolute;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  top: 10px;
  left: 10px;
  color: #F9F1E7;
  display: inline-block;
  width: fit-content;
  border-radius: 4px;
  background-color: #A18A68;
  padding: 2px 8px;
}
@media (max-width: 647px) {
  .item-discount {
    display: none;
  }
}

.hidden {
  display: none;
}

.shop-item__image {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  column-gap: 24px;
  opacity: 0;
}
@media (max-width: 647px) {
  .icons {
    display: none;
  }
}
.icons:hover {
  opacity: 1;
}

.add-cart__mobile {
  display: none;
}
@media (max-width: 647px) {
  .add-cart__mobile {
    display: block;
    align-items: center;
    text-transform: uppercase;
    font-family: DMSans, sans-serif;
    font-weight: 700;
    font-size: 8px;
    background-color: #EFEFEF;
    color: black;
    width: 100%;
    padding: 11px 0;
    z-index: 10;
    position: absolute;
    bottom: 0;
    text-align: center;
    overflow: hidden;
  }
  .add-cart__mobile:hover {
    cursor: pointer;
  }
}

.shop-item:hover .shop-img {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}
@media (max-width: 647px) {
  .shop-item:hover .shop-img {
    opacity: 1;
  }
}

.shop-aside {
  display: flex;
  flex-direction: row;
  column-gap: 36px;
  margin-right: 36px;
}
@media (max-width: 900px) {
  .shop-aside {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
}

.filter {
  display: none;
}
@media (max-width: 900px) {
  .filter {
    display: flex;
    flex-direction: row;
    color: #A18A68;
    row-gap: 8px;
    font-weight: 400;
    font-size: 12px;
    margin-top: 20px;
    font-family: DMSans, sans-serif;
  }
}
.filter img {
  margin-right: 8px;
}
.filter a {
  cursor: pointer;
}

.shop-search {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #D8D8D8;
  height: 35px;
  width: 100%;
  color: #000000;
  justify-content: space-between;
  align-items: center;
}
.shop-search .form__search {
  display: flex;
  border-radius: 4px;
  width: 100%;
}
.shop-search .form__search input {
  flex-grow: 1;
  border: none;
  padding: 5px;
  outline: none;
}
.shop-search .form__search button {
  background: #fff;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.search-button {
  float: left;
  padding: 5px;
  background-color: #fff;
  border: 1px solid black;
  border-left: none;
  outline: none;
}

.shop-search__radio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  font-family: DMSans, sans-serif;
  width: 100%;
  row-gap: 20px;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.shop-search__radio a:hover {
  cursor: pointer;
}

.shop-aside__form {
  display: flex;
  flex: 0 0 261px;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 20px;
  font-family: "DMSans", sans-serif;
  font-weight: 400;
  margin-top: 20px;
  width: 261px !important;
}
@media (max-width: 900px) {
  .shop-aside__form {
    display: none;
  }
}

.latest__img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: block;
}

.switch {
  position: relative;
  display: inline-block;
  width: 33px;
  height: 20px;
}

.switch input {
  display: none;
}

.switch-btn {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.switch-btn:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.switch-on::after {
  left: 37px;
}

input:checked + .switch-btn {
  background-color: #A18A68;
}

input:focus + .switch-btn {
  box-shadow: 0 0 1px #A18A68;
}

input:checked + .switch-btn:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.shop-header {
  margin-top: 64px !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 0.1px solid #D8D8D8;
}
.shop-header .logo .title {
  font-family: "Allerta_Stencil", sans-serif;
  color: #000000;
  font-weight: 400;
  font-size: 35px;
  line-height: 41px;
  text-transform: uppercase;
  padding-bottom: 17px;
}
.shop-header .logo .title::first-letter {
  color: #A18A68;
}
.shop-header .logo__link {
  text-decoration: none;
}
@media (max-width: 768px) {
  .shop-header {
    margin-top: 16px !important;
  }
}
@media (max-width: 647px) {
  .shop-header {
    border-bottom: none;
  }
}

.button-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 11px;
  color: #000000;
  height: 60px;
  margin-bottom: 39px;
  margin-top: 120px;
}
@media (max-width: 600px) {
  .button-section {
    display: none;
  }
}

.section {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}

.button-section__item {
  border-radius: 10px;
  font-family: DMSans, sans-serif;
  font-size: 20px;
  line-height: 100%;
  font-weight: 400;
  background-color: #EFEFEF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 27px;
}
.button-section__item.disabled {
  pointer-events: none;
}
.button-section__item:last-child {
  background-color: #D8D8D8;
}

.button-section__item:hover {
  cursor: pointer;
}

.page-button {
  font-weight: 400;
  width: 98px;
}
.page-button.disabled {
  opacity: 40%;
}

.page-number {
  width: 60px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  background-color: #EFEFEF;
}
.page-number.selected-page {
  color: #FFFFFF;
  background-color: #A18A68;
}

.cart {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: center;
}
.cart-items {
  position: absolute;
  top: -1px;
  right: -2px;
  width: 8px;
  height: 8px;
  z-index: 1;
  font-size: 5px;
  font-family: Inter, sans-serif;
  border-radius: 50%;
  background-color: #A18A68;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}

span.hidden {
  display: none;
}

.search-list, .shop-search {
  font-family: "DMSans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
}

.search-list {
  width: 100%;
  position: relative;
}
.search-list select {
  width: 100%;
  height: 53px;
  border: 1px solid #D8D8D8;
}

.sidebar__content {
  font-family: DMSans, sans-serif;
  color: black;
}
.sidebar__content:first-child {
  border-bottom: 1px #D8D8D8 solid;
  padding: 72px 36px 27px 36px;
}
.sidebar__content:last-child {
  padding: 0 36px;
}
.sidebar__content h1, .sidebar__content .total {
  font-size: 16px;
  font-weight: 400;
}
.sidebar__content .items {
  font-size: 12px;
  font-weight: 400;
  margin: 17px auto 3px;
  line-height: 20px;
}
.sidebar__content .view-cart {
  font-size: 16px;
  font-weight: 700;
  padding: 16px 100px;
  background-color: #fff;
  margin: 0 auto;
}
.sidebar__content .subtotal-container {
  margin: 21px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sidebar {
  background-color: #f1f1f1;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  min-width: 320px;
  z-index: 120;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.item-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.item-container .cart-img {
  width: 136px;
  height: 136px;
}

.items-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.item-content {
  margin-left: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  position: relative;
}
.item-content .item-color {
  color: #707070;
}
.item-content .item-price {
  color: #A18A68;
}
.item-content .item-price .sale {
  color: #D82700;
  text-decoration: line-through;
}
.item-content .item-quantity {
  color: #707070;
  position: absolute;
  bottom: 0;
}
.item-content .item-quantity .item-timer {
  margin: auto 7px;
}
.item-content .item-quantity span:first-child {
  font-size: 12px;
  margin-right: 8px;
}

.sidebar[aria-hidden=true] {
  transition: 200ms;
  transform: translateX(100%);
}

.sidebar:not([aria-hidden]),
.sidebar[aria-hidden=false] {
  transition: 200ms;
  transform: translateX(0);
}

.sidebar-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}
.sidebar-title img {
  left: 0;
  position: absolute;
}

.delete-icon {
  position: absolute;
  width: 6px;
  height: 6px;
  margin-left: 10px;
  right: 20px;
}
.delete-icon .delete-button {
  border: none;
  outline: none;
}
.delete-icon .delete-button:hover {
  cursor: pointer;
}

.sidebar-footer {
  padding: 0 auto;
  bottom: 10px;
  width: 100%;
  margin-top: auto;
  margin-bottom: 20px;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}

.slider-title {
  font-size: 1.7rem;
  margin-left: 0;
  display: flex;
  justify-content: left;
  align-items: center;
  wrap-option: wrap;
  text-align: left;
}

.slider-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 12px;
}

.slider-subtitle {
  font-size: 1.5rem;
  margin-top: 10px;
}

.swiper-pagination-bullet {
  border: 1px solid white;
  border-radius: 50%;
  background: white;
  opacity: 1;
  width: 9px;
  height: 9px;
  transition: all 0.3s ease;
}
.swiper-pagination-bullet:hover {
  transform: scale(1.2);
  opacity: 0.8;
}

.swiper-pagination-bullet-active {
  background: transparent;
  border-color: white;
  width: 16px;
  height: 16px;
  transition: all 0.3s ease;
}

.swiper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  --swiper-pagination-bullet-horizontal-gap: 6px;
}
.swiper .swiper-pagination-bullet {
  border: 1px solid white;
  border-radius: 50%;
  background: white;
  opacity: 1;
  width: 9px;
  height: 9px;
  transition: all 0.3s ease;
}
.swiper .swiper-pagination-bullet:hover {
  transform: scale(1.2);
  opacity: 0.8;
}
.swiper .swiper-pagination-bullet-active {
  background: #D8D8D8;
  border-color: white;
  width: 16px;
  height: 16px;
  transition: all 0.3s ease;
}
@media (max-width: 320px) {
  .swiper {
    justify-content: flex-end;
    padding-bottom: 26px;
    height: 354px;
  }
}

.swiper-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  background-image: url("../../public/img/Img01.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 646px;
}
@media (max-width: 1200px) {
  .swiper-container {
    background-position: right 10% top 0;
  }
}
@media (max-width: 868px) {
  .swiper-container {
    background-position: right 20% top 0;
  }
}
@media (max-width: 513px) {
  .swiper-container {
    background-image: url("../../public/img/Img01_mobile.png");
    min-height: 354px;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: flex-end;
    padding-bottom: 26px;
  }
}

.swiper-slide {
  text-align: center;
  position: relative;
}
.swiper-slide img {
  max-width: 100%;
  border-radius: 10px;
  margin-top: 60px;
  height: 100%;
}
.swiper-slide .swiper-wrapper {
  margin-top: 226px;
  margin-left: 39px;
  height: 150px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  font-family: "DMSans", sans-serif;
  width: 80%;
}
@media (max-width: 510px) {
  .swiper-slide .swiper-wrapper {
    margin-left: 20px;
    margin-top: 226px;
  }
}
@media (max-width: 482px) {
  .swiper-slide .swiper-wrapper {
    margin-left: 18px;
    margin-top: 226px;
  }
}
@media (max-width: 320px) {
  .swiper-slide .swiper-wrapper {
    margin-left: 16px;
    margin-top: 180px;
  }
}
.swiper-slide .swiper-wrapper .title {
  font-weight: 14px;
  font-size: 33px;
  text-align: left;
}
@media (max-width: 510px) {
  .swiper-slide .swiper-wrapper .title {
    font-size: 26px;
  }
}
@media (max-width: 482px) {
  .swiper-slide .swiper-wrapper .title {
    font-size: 26px;
  }
}
@media (max-width: 338px) {
  .swiper-slide .swiper-wrapper .title {
    font-size: 20px;
  }
}
.swiper-slide .swiper-wrapper .subtitle {
  font-family: "DMSans", sans-serif;
  font-weight: 400;
  font-size: 33px;
  align-items: center;
  justify-content: flex-start;
  margin-top: 16px;
}
@media (max-width: 320px) {
  .swiper-slide .swiper-wrapper .subtitle {
    font-size: 14px;
    margin-top: 3px;
  }
}
.swiper-slide .swiper-wrapper .swiper-button {
  font-family: "DMSans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
  cursor: pointer;
  border: 2px #FFFFFF solid;
  background-color: transparent;
  padding: 13px 31px;
  border-radius: 6px;
  margin-top: 48px;
}
@media (max-width: 515px) {
  .swiper-slide .swiper-wrapper .swiper-button {
    font-size: 12px;
    padding: 6px 9px;
    border: 1px #FFFFFF solid;
    font-weight: 400;
    margin-top: 24px;
  }
}
@media (max-width: 320px) {
  .swiper-slide .swiper-wrapper .swiper-button {
    font-size: 12px;
    padding: 6px 9px;
    border: 1px #FFFFFF solid;
    font-weight: 400;
    margin-top: 15px;
  }
}
.swiper-slide .swiper-wrapper .swiper-button:hover {
  background-color: white;
  color: black;
  transition: background-color 0.5s ease;
}

#app {
  width: 100vw;
  height: 100vh;
  background-color: white;
  color: white;
}

html, body {
  overflow-x: hidden;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body main {
  color: black;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  box-sizing: border-box;
  padding-left: 96px;
  padding-right: 96px;
  height: max-content;
  margin: 0 auto;
}

.underline {
  border-bottom: 0.1px solid #D8D8D8;
}

.header {
  margin-top: 66px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.header .logo__link {
  text-decoration: none;
}
@media (max-width: 768px) {
  .header {
    margin-top: 16px;
  }
}

.title {
  font-family: "Allerta_Stencil";
  color: #000000;
  font-weight: 400;
  font-size: 35px;
  line-height: 41px;
  text-transform: uppercase;
  padding-bottom: 17px;
}
.title::first-letter {
  color: #A18A68;
}

.menu {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-family: "DMSans", sans-serif;
  font-weight: 400;
  color: #000000;
  align-items: flex-start;
}
.menu .nav {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin-top: auto;
  justify-content: flex-start;
}
.menu .nav__ul {
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: center;
}
@media (max-width: 647px) {
  .menu .nav__ul.text {
    display: none;
  }
}
.menu .nav__ul.icon {
  gap: 40px;
}
.menu .nav__img {
  margin-left: -16px;
  margin-right: 48px;
}
.menu .nav__li {
  list-style: none;
  padding-bottom: 30px;
}
.menu .nav__li:not(:nth-child(2)):hover {
  border-bottom: 1px solid #707070;
}
@media (max-width: 647px) {
  .menu .nav__li:not(:nth-child(1)) {
    display: none;
  }
}
.menu .nav__link {
  text-decoration: none;
  color: #000000;
}
.menu .nav svg:hover path {
  fill: #707070;
}

.nav__li:hover {
  border-bottom: 1px solid #707070;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.nav__ul:first-child::after {
  content: "|";
  margin: 0 78px;
  color: #999;
  height: 17px;
}

.main-content {
  background-image: url("../../public/img/Img01.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 646px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 39px;
}
@media (max-width: 768px) {
  .main-content {
    background-image: url("../../public/img/shoppe.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 8px;
    justify-content: flex-end;
    padding-bottom: 26px;
    height: 354px;
  }
}
.main-content__title {
  font-family: "DMSans", sans-serif;
  font-weight: 14px;
  font-size: 33px;
}
@media (max-width: 768px) {
  .main-content__title {
    font-size: 20px;
  }
}
@media (max-width: 537px) {
  .main-content__title {
    font-size: 16px;
  }
}
.main-content__subtitle {
  font-family: "DMSans", sans-serif;
  font-weight: 400;
  font-size: 26px;
  align-items: center;
  justify-content: flex-start;
  margin-top: 16px;
  margin-bottom: 48px;
}
@media (max-width: 560px) {
  .main-content__subtitle {
    font-size: 14px;
  }
}

.main-container {
  color: #FFFFFF;
  overflow-x: hidden;
}

.title-button {
  font-family: "DMSans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
  cursor: pointer;
  border: 2px #FFFFFF solid;
  background-color: transparent;
  padding: 13px 31px;
  border-radius: 6px;
}
@media (max-width: 560px) {
  .title-button {
    font-size: 12px;
  }
}
.title-button:hover {
  background-color: black;
  color: white;
}

.shop-container {
  justify-content: center;
}

.shop-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 54px;
  row-gap: 86px;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  margin-top: 39px;
  margin-bottom: 39px;
}
@media (max-width: 559px) {
  .shop-items {
    grid-template-columns: repeat(2, 1fr);
    margin: 20px auto;
    row-gap: 20px;
    column-gap: 24px;
  }
}

.shop-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  z-index: 100;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.shop-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 14px;
  font-family: "DMSans", sans-serif;
  margin-top: 64px;
}
@media (max-width: 560px) {
  .shop-title {
    margin-top: 20px;
  }
}
.shop-title__text {
  font-size: 33px;
  color: #000000;
}
@media (max-width: 730px) {
  .shop-title__text {
    font-size: 26px;
  }
}
@media (max-width: 560px) {
  .shop-title__text {
    font-size: 20px;
  }
}
.shop-title__view {
  font-size: 20px;
  color: #A18A68;
  top: auto;
}
@media (max-width: 560px) {
  .shop-title__view {
    font-size: 16px;
  }
}
@media (max-width: 370px) {
  .shop-title__view {
    font-size: 14px;
  }
}
.shop-title__view a:hover {
  color: #000000;
  cursor: pointer;
  text-decoration: none;
}

.footer {
  display: flex;
  flex-direction: row;
  color: #707070;
  font-family: DMSans, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
.footer__ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 41px;
}
@media (max-width: 730px) {
  .footer__ul {
    column-gap: 20px;
  }
}
@media (max-width: 537px) {
  .footer__ul {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    margin-top: 40px;
  }
}
.footer__li {
  list-style: none;
}
.footer__li:hover {
  border-bottom: 1px solid #707070;
  color: black;
}
.footer a {
  text-decoration: none;
  color: #707070;
}
.footer a:hover {
  color: black;
}
@media (max-width: 1024px) {
  .footer {
    font-size: 12px;
  }
}

.footer-container {
  padding-top: 40px;
}
@media (max-width: 730px) {
  .footer-container {
    column-gap: 10px;
  }
}
@media (max-width: 537px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    border-top: none;
  }
}
@media (max-width: 450px) {
  .footer-container {
    padding-top: 15px;
  }
}

.subscribe {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #000000;
  column-gap: 128px;
  padding-bottom: 13px;
}
@media (max-width: 730px) {
  .subscribe {
    column-gap: 60px;
  }
}
@media (max-width: 537px) {
  .subscribe {
    order: -1;
    padding-bottom: 6px;
    justify-content: space-between;
  }
}
.subscribe__input {
  outline: none;
  width: 300px;
  border: none;
  font-family: DMSans, sans-serif;
  color: #707070;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}
@media (max-width: 1024px) {
  .subscribe__input {
    font-size: 12px;
  }
}
.subscribe .subscribe__arrow:after {
  content: url("../img/arrow.svg");
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  vertical-align: middle;
}
@media (max-width: 730px) {
  .subscribe .subscribe__arrow:after {
    width: 8px;
    margin-left: -20px;
  }
}
@media (max-width: 366px) {
  .subscribe .subscribe__arrow:after {
    width: 5px;
    height: 5px;
    margin-left: -20px;
  }
}
.subscribe .subscribe__arrow:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.footer-social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 39px;
  padding-top: 58px;
  top: auto;
  border-top: 1px solid #D8D8D8;
}
.footer-social__terms {
  font-family: "DMSans", sans-serif;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}
.footer-social__terms .bold {
  font-weight: 700;
}
@media (max-width: 537px) {
  .footer-social__terms {
    order: 1;
    font-size: 12px;
  }
}
.footer-social__ul {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
}
@media (max-width: 366px) {
  .footer-social__ul {
    column-gap: 10px;
  }
}
.footer-social__follow {
  display: none;
}
@media (max-width: 537px) {
  .footer-social__follow {
    color: #000000;
    font-family: DMSans, sans-serif;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    align-items: center;
    text-align: center;
  }
}
.footer-social__follow:after {
  content: "";
  width: 47px;
  border-bottom: 1px solid #000000;
  margin: 0 20px;
}
.footer-social svg:hover path {
  fill: #000000;
}
@media (max-width: 537px) {
  .footer-social {
    padding-top: 18px;
  }
}

.footer__terms {
  display: none;
}
@media (max-width: 537px) {
  .footer__terms {
    display: block;
    color: #000000;
    font-family: DMSans, sans-serif;
    font-weight: 400;
    font-size: 12px;
    align-items: flex-start;
    top: 0;
  }
}

.burger-menu {
  display: none;
  margin-left: 18px;
}
@media (max-width: 647px) {
  .burger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    column-gap: 20px;
  }
}

.burger-menu__button {
  display: none;
}

.add-cart, .view-product, .favourite-product {
  border: none;
  background-color: transparent;
}
.add-cart:hover, .view-product:hover, .favourite-product:hover {
  cursor: pointer;
}

.view-cart:hover, .add-item:hover, .remove-item:hover {
  cursor: pointer;
}

.disable-link {
  pointer-events: none;
  color: grey;
}

.active {
  border-bottom: 2px solid #42b983;
}

/*# sourceMappingURL=style.css.map */
