html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Allerta_Stencil";
  src: url("../fonts/AllertaStencil-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "DMSans";
  src: url("../fonts/DMSans-VariableFont_opsz,wght.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
}
.catalog-container {
  padding-bottom: 39px;
  justify-content: center;
}

.catalog-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
  row-gap: 70px;
  width: 100%;
  justify-content: center;
  align-items: center;
  grid-template-rows: auto auto;
  margin-top: 0;
  margin-bottom: 39px;
}
@media (max-width: 368px) {
  .catalog-items {
    grid-template-columns: repeat(2, 1fr);
    margin: 20px auto;
    row-gap: 20px;
  }
}

.shop-item {
  position: relative;
  justify-content: center;
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.item-discount {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #F9F1E7;
  height: 24px;
  width: 46px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 647px) {
  .item-discount {
    display: none;
  }
}

.shop-item__image {
  position: relative;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  column-gap: 24px;
  opacity: 0;
}
@media (max-width: 647px) {
  .icons {
    display: none;
  }
}
.icons:hover {
  opacity: 1;
}

.shop-item:hover img {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.discount-text {
  position: absolute;
  display: flex;
  flex-direction: row;
  z-index: 1;
  column-gap: 24px;
  background-color: #A18A68;
  font-size: 14px;
}

.shop-aside {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 36px;
}
@media (max-width: 600px) {
  .shop-aside {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
  }
}

.filter {
  display: none;
}
@media (max-width: 600px) {
  .filter {
    display: flex;
    flex-direction: row;
    color: #A18A68;
    row-gap: 8px;
  }
}
.filter img {
  margin-right: 8px;
}

.shop-search {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #D8D8D8;
  height: 35px;
  width: 100%;
  color: #000000;
  justify-content: space-between;
  align-items: center;
}
.shop-search .form__search {
  font-family: "DMSans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.shop-search .form__search .form__input {
  border: none;
  outline: none;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}
.shop-search .form__search:after {
  content: url("../img/search.svg");
  width: 20px;
  height: 20px;
  margin-left: 10px;
  vertical-align: middle;
}
.shop-search .form__search:after, .shop-search .form__search:hover {
  cursor: pointer;
}

.shop-search__radio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #000000;
  width: 100%;
  row-gap: 20px;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.shop-aside__form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 20px;
  font-family: "DMSans", sans-serif;
  font-weight: 400;
}
@media (max-width: 600px) {
  .shop-aside__form {
    order: -1;
  }
}
@media (max-width: 600px) {
  .shop-aside__form:not(:nth-child(1)) {
    display: none;
  }
}

.latest__img {
  width: 300px;
  height: 300px;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  z-index: 100;
}
@media (max-width: 860px) {
  .latest__img {
    width: 180px;
    height: 180px;
    font-size: 16px;
  }
}
@media (max-width: 559px) {
  .latest__img {
    width: 120px;
    height: 120px;
    font-size: 14px;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 33px;
  height: 20px;
}

.switch input {
  display: none;
}

.switch-btn {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.switch-btn:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.switch-on::after {
  left: 37px;
}

input:checked + .switch-btn {
  background-color: green;
}

input:focus + .switch-btn {
  box-shadow: 0 0 1px green;
}

input:checked + .switch-btn:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.shop-header {
  margin-top: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 0.1px solid #D8D8D8;
}
.shop-header .logo .title {
  font-family: "Allerta_Stencil", sans-serif;
  color: #000000;
  font-weight: 400;
  font-size: 35px;
  line-height: 41px;
  text-transform: uppercase;
  padding-bottom: 17px;
}
.shop-header .logo .title::first-letter {
  color: #A18A68;
}
.shop-header .logo__link {
  text-decoration: none;
}
@media (max-width: 768px) {
  .shop-header {
    margin-top: 16px;
  }
}

.button-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 11px;
  color: #000000;
  height: 60px;
  margin-bottom: 130px;
  margin-top: 59px;
}
@media (max-width: 600px) {
  .button-section {
    display: none;
  }
}

.section {
  display: flex;
  flex-direction: column;
}

.button-section__item {
  border-radius: 10px;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  background-color: #F9F1E7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-section__item.disabled {
  pointer-events: none;
}

.button-section__item:hover {
  cursor: pointer;
}

.page-button {
  font-weight: 300;
  width: 98px;
}
.page-button.disabled {
  opacity: 40%;
}

.page-number {
  width: 60px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  background-color: #F9F1E7;
}
.page-number.selected-page {
  background-color: #A18A68;
  color: #FFFFFF;
}

.cart {
  position: relative;
  display: inline-block;
}

.cart-items {
  position: absolute;
  top: -1px;
  right: -2px;
  width: 8px;
  height: 8px;
  z-index: 1;
  font-size: 5px;
  font-family: Inter, sans-serif;
  border-radius: 50%;
  background-color: #A18A68;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}

.search-list, .shop-search {
  font-family: "DMSans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
}

.search-list {
  width: 100%;
}
.search-list select {
  width: 100%;
  height: 53px;
  border: 1px solid #D8D8D8;
}

#app {
  width: 100vw;
  height: 100vh;
  background-color: white;
  color: blue;
}

html, body {
  overflow-x: hidden;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body main {
  color: white;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

.container {
  max-width: 1400px;
  padding-top: 48px;
  margin: auto 96px;
  height: max-content;
}
@media (max-width: 1024px) {
  .container {
    margin: 0 48px;
  }
}
@media (max-width: 768px) {
  .container {
    margin: 0 16px;
  }
}
@media (max-width: 600px) {
  .container {
    padding-top: 15px;
  }
}

.header {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.header .logo .title {
  font-family: "Allerta_Stencil", sans-serif;
  color: #000000;
  font-weight: 400;
  font-size: 35px;
  line-height: 41px;
  text-transform: uppercase;
  padding-bottom: 17px;
}
.header .logo .title::first-letter {
  color: #A18A68;
}
.header .logo__link {
  text-decoration: none;
}
@media (max-width: 768px) {
  .header {
    margin-top: 16px;
  }
}

.menu {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-family: "DMSans", sans-serif;
  font-weight: 400;
  color: #000000;
  align-items: flex-start;
}
.menu .nav {
  display: flex;
  align-items: flex-start;
  margin-top: auto;
  justify-content: center;
}
.menu .nav__ul {
  display: flex;
  margin-top: auto;
}
.menu .nav__ul.text {
  gap: 64px;
  margin-top: auto;
}
@media (max-width: 647px) {
  .menu .nav__ul.text {
    display: none;
  }
}
.menu .nav__ul.icon {
  gap: 30px;
}
.menu .nav__img {
  margin-left: -16px;
  margin-right: 48px;
}
.menu .nav__li {
  list-style: none;
  padding-bottom: 18px;
}
.menu .nav__li:not(:nth-child(4)):hover {
  border-bottom: 1px solid #707070;
}
@media (max-width: 647px) {
  .menu .nav__li {
    display: none;
  }
}
.menu .nav__li .underline {
  border-bottom: 1px solid #707070;
}
.menu .nav__link {
  text-decoration: none;
  color: #000000;
}
.menu .nav svg:hover path {
  fill: #707070;
}

.main-content {
  background-image: url("../img/Img01.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 646px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 39px;
}
@media (max-width: 768px) {
  .main-content {
    background-image: url("../img/shoppe.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 8px;
    justify-content: flex-end;
    padding-bottom: 26px;
    height: 354px;
  }
}
.main-content__title {
  font-family: "DMSans", sans-serif;
  font-weight: 14px;
  font-size: 33px;
}
@media (max-width: 768px) {
  .main-content__title {
    font-size: 20px;
  }
}
@media (max-width: 537px) {
  .main-content__title {
    font-size: 16px;
  }
}
.main-content__subtitle {
  font-family: "DMSans", sans-serif;
  font-weight: 400;
  font-size: 26px;
  align-items: center;
  justify-content: flex-start;
  margin-top: 16px;
  margin-bottom: 48px;
}
@media (max-width: 560px) {
  .main-content__subtitle {
    font-size: 14px;
  }
}

.main-container {
  color: #FFFFFF;
  overflow-x: hidden;
}

.title-button {
  font-family: "DMSans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
  cursor: pointer;
  border: 2px #FFFFFF solid;
  background-color: transparent;
  padding: 13px 31px;
  border-radius: 6px;
}
@media (max-width: 560px) {
  .title-button {
    font-size: 12px;
  }
}
.title-button:hover {
  background-color: black;
  color: white;
}

.shop-container {
  justify-content: center;
}

.shop-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1000px;
  margin: 39px auto;
  column-gap: 57px;
  row-gap: 86px;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  grid-template-rows: auto auto;
}
@media (max-width: 568px) {
  .shop-items {
    grid-template-columns: repeat(2, 1fr);
    margin: 20px auto;
    row-gap: 20px;
  }
}

.shop-item {
  font-family: "DMSans", sans-serif;
  font-size: 20px;
  left: auto;
  right: auto;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: auto;
}

.shop-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  z-index: 100;
}
@media (max-width: 860px) {
  .shop-img {
    width: 180px;
    height: 180px;
    font-size: 16px;
  }
}
@media (max-width: 559px) {
  .shop-img {
    width: 120px;
    height: 120px;
    font-size: 14px;
  }
}

.shop-item__title {
  font-weight: 400;
  color: #000000;
  margin: 24px auto 16px;
}
@media (max-width: 860px) {
  .shop-item__title {
    font-size: 16px;
  }
}
@media (max-width: 559px) {
  .shop-item__title {
    font-size: 14px;
  }
}
.shop-item__price {
  font-weight: 14px;
  color: #A18A68;
}
@media (max-width: 860px) {
  .shop-item__price {
    font-size: 16px;
  }
}
@media (max-width: 559px) {
  .shop-item__price {
    font-size: 14px;
  }
}
@media (max-width: 1390px) {
  .shop-item {
    width: 20vw;
  }
}

.shop-item {
  position: relative;
}

.shop-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 14px;
  font-family: "DMSans", sans-serif;
  margin-top: 64px;
}
.shop-title__text {
  font-size: 33px;
  color: #000000;
}
@media (max-width: 730px) {
  .shop-title__text {
    font-size: 16px;
  }
}
@media (max-width: 560px) {
  .shop-title__text {
    font-size: 20px;
  }
}
.shop-title__view {
  font-size: 20px;
  color: #A18A68;
}
@media (max-width: 560px) {
  .shop-title__view {
    font-size: 16px;
  }
}
@media (max-width: 370px) {
  .shop-title__view {
    font-size: 0.5rem;
  }
}
.shop-title__view a:hover {
  color: #000000;
  cursor: pointer;
  text-decoration: none;
}

.footer {
  display: flex;
  flex-direction: row;
  color: #707070;
  font-family: DMSans, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
.footer__ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 41px;
}
@media (max-width: 730px) {
  .footer__ul {
    column-gap: 20px;
  }
}
@media (max-width: 537px) {
  .footer__ul {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    margin-top: 40px;
  }
}
.footer__li {
  list-style: none;
}
.footer__li:hover {
  border-bottom: 1px solid #707070;
  color: black;
}
.footer a {
  text-decoration: none;
  color: #707070;
}
.footer a:hover {
  color: black;
}
@media (max-width: 1024px) {
  .footer {
    font-size: 12px;
  }
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #D8D8D8;
  padding-top: 40px;
}
@media (max-width: 730px) {
  .footer-container {
    column-gap: 10px;
  }
}
@media (max-width: 537px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    border-top: none;
  }
}

.subscribe {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #000000;
  column-gap: 128px;
  padding-bottom: 13px;
}
@media (max-width: 730px) {
  .subscribe {
    column-gap: 60px;
  }
}
@media (max-width: 537px) {
  .subscribe {
    order: -1;
    padding-bottom: 6px;
    justify-content: space-between;
  }
}
.subscribe__input {
  outline: none;
  width: 300px;
  border: none;
  font-family: DMSans, sans-serif;
  color: #707070;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}
@media (max-width: 1024px) {
  .subscribe__input {
    font-size: 12px;
  }
}
.subscribe .subscribe__arrow:after {
  content: url("../img/arrow.svg");
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  vertical-align: middle;
}
@media (max-width: 730px) {
  .subscribe .subscribe__arrow:after {
    width: 8px;
    margin-left: -20px;
  }
}
@media (max-width: 366px) {
  .subscribe .subscribe__arrow:after {
    width: 5px;
    height: 5px;
    margin-left: -20px;
  }
}
.subscribe .subscribe__arrow:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.footer-social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  padding-bottom: 90px;
}
.footer-social__terms {
  font-family: "DMSans", sans-serif;
  color: #707070;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}
.footer-social__terms .bold {
  font-weight: 700;
}
@media (max-width: 537px) {
  .footer-social__terms {
    order: 1;
    font-size: 12px;
    margin-top: 36px;
  }
}
.footer-social__ul {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
}
@media (max-width: 366px) {
  .footer-social__ul {
    column-gap: 10px;
  }
}
.footer-social__follow {
  display: none;
}
@media (max-width: 537px) {
  .footer-social__follow {
    color: #000000;
    font-family: DMSans, sans-serif;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    align-items: center;
    text-align: center;
  }
}
.footer-social__follow:after {
  content: "";
  width: 47px;
  border-bottom: 1px solid #000000;
  margin: 0 20px;
}
.footer-social svg:hover path {
  fill: #000000;
}
@media (max-width: 537px) {
  .footer-social {
    display: flex;
    flex-direction: column;
    padding-bottom: 26px;
    margin-top: 32px;
  }
}

.footer__terms {
  display: none;
}
@media (max-width: 537px) {
  .footer__terms {
    display: block;
    color: #000000;
    font-family: DMSans, sans-serif;
    font-weight: 400;
    font-size: 12px;
  }
}

.burger-menu {
  display: none;
}
@media (max-width: 647px) {
  .burger-menu {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    padding-bottom: 18px;
    column-gap: 20px;
    order: -1;
  }
}

.burger-menu__button {
  display: none;
}

/*# sourceMappingURL=style.css.map */
