@use "reset.scss";
@use "fonts.scss";
@use "variables.scss";
@use "shop.scss";

#app {
  width: 100vw;
  height: 100vh;
  background-color: white;
  color: blue;
}
html,body {
  overflow-x:hidden;
  box-sizing:border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body{
 // margin: auto 96px;
  main{
    color: white;
  }

}

a:visited
{
  color: inherit;
  text-decoration: none;
}

a{
  color: inherit;
  text-decoration: none;
}

a:link{
  text-decoration: none;
}

button{
  padding:0;
  border:none;
}

.container{
  max-width: 1400px;
  margin: 0 96px;
  height: max-content;
  @media (max-width:1024px){
    margin: 0 48px;
  }
  @media (max-width: 768px){
    margin: 0 16px;
  }
}

.header{
  margin-top: 64px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  .logo{

    .title{
      font-family: "Allerta_Stencil", sans-serif;
      color: variables.$black;
      font-weight: var(regular);
      font-size: 35px;
      line-height: 41px;
      text-transform: uppercase;
      padding-bottom: 17px;
      &::first-letter {
        color: variables.$accent;
      }

    }
    &__link{
      text-decoration: none;
    }
  }
  @media(max-width: 768px) {
    margin-top: 16px;
  }
}

.menu {
  display: flex;
  flex-direction: row;
  font-size: var(large);
  font-family: 'DMSans', sans-serif;
  font-weight: var(regular);
  color: variables.$black;
  align-items: flex-start;

  .nav {
    display: flex;
    align-items: flex-start;
    margin-top: auto;
    justify-content: center;
    &__ul {
      display: flex;
      margin-top: auto;

      &.text {
        gap: 64px;
        margin-top: auto;
        @media (max-width: 647px) {
          display: none;
        }
      }

      &.icon {
        gap: 30px;

      }

    }

    &__img {
      margin: {
        left: -16px;
        right: 48px;
      }
    }

    &__li {
      list-style: none;
      padding-bottom: 18px;

      &:hover{
        border-bottom: 1px solid variables.$gray-dark;
      }
        @media (max-width: 647px) {
          display: none;
        }

    }

    &__link {
      text-decoration: none;
      color: variables.$black;

    }

    svg {
      &:hover path {
        fill: variables.$gray-dark;
      }

    }
  }
}

.main-content {
    background-image: url("../img/Img01.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 646px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 39px;
    @media(max-width: 768px) {
      background-image: url('/shoppe/src/img/shoppe.png');
      background-repeat: no-repeat;
      background-size: cover;
      padding-left: 8px;
      justify-content: flex-end;
      padding-bottom: 26px;
      height: 354px;
    }
  }

.main-container {
    color: variables.$white;
    overflow-x: hidden;
  }

.title {
    font-family: "DMSans", sans-serif;
    font-weight: var(medium);
    font-size: var(heading1);
    @media (max-width: 768px) {
      font-size: var(heading3);
    }
    @media (max-width: 537px) {
      font-size: var(heading5);
    }
  }

.subtitle {
    font-family: "DMSans", sans-serif;
    font-weight: var(regular);
    font-size: var(heading2);
    align-items: center;
    justify-content: flex-start;
    margin: {
      top: 16px;
      bottom: 48px;
    }
    @media (max-width: 560px) {
      font-size: var(fonts.$medium);
    }
  }

.button {
    font-family: "DMSans", sans-serif;
    font-weight: var(fonts.$bold);
    font-size: var(fonts.$heading3);
    color: variables.$white;
    cursor: pointer;
    border: 1px variables.$white solid;
    background-color: transparent;
    padding: 13px 31px;
    border-radius: 2px;
    @media (max-width: 560px) {
      font-size: var(fonts.$small);
    }
  }

.shop-container {
    // margin-bottom: 211px;
    justify-content: center;
  }

.shop-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 39px auto;
    column-gap: 53px;
    row-gap: 86px;

    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    grid-template-rows: auto auto;

    @media (max-width: 368px) {
      grid-template-columns: repeat(2, 1fr);
      margin: 20px auto;
      row-gap: 20px;
    }
  }

.shop-item {
  font-family: "DMSans", sans-serif;
  font-size: var(fonts.$heading3);
  left: auto;
  right: auto;

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    width: 380px;
    height: 380px;
    @media (max-width: 860px) {
      width: 280px;
      height: 280px;
    }
    @media (max-width: 559px) {
      width: 180px;
      height: 180px;
    }
    @media (max-width: 368px) {
      width: 280px;
      height: 280px;
    }
  }
}
.shop-img {

  width:380px;
  height:380px;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  z-index: 100;


  @media (max-width: 860px) {
    width: 180px;
    height: 180px;
    font-size: var(large);
  }

  @media (max-width: 559px) {
    width: 120px;
    height: 120px;
    font-size: var(medium);
  }

    &__title {
      font-weight: var(fonts.$regular);
      color: variables.$black;
      margin: 24px auto 16px;
      @media (max-width: 860px) {
        font-size: var(fonts.$large);
      }
      @media (max-width: 559px) {

        font-size: var(fonts.$medium);
      }
    }

    &__price {
      font-weight: var(fonts.$medium);
      color: variables.$accent;
      @media (max-width: 860px) {

        font-size: var(fonts.$large);
      }
      @media (max-width: 559px) {

        font-size: var(fonts.$medium);
      }
    }

    @media (max-width: 1390px) {
      width: 20vw;
    }
  }
.shop-item{
  position: relative;
}

.shop-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: var(fonts.$medium);
    font-family: "DMSans", sans-serif;
    margin-top: 64px;
    &__text {
      font-size: var(fonts.$heading1);
      color: variables.$black;
      @media (max-width:730px){
        font-size: var(fonts.$heading2);

      }
      @media (max-width:560px){
        font-size: var(fonts.$heading3);

      }
    }

    &__view {
      font-size: var(fonts.$heading3);
      color: variables.$accent;
      @media (max-width:560px){
        font-size: var(fonts.$heading5);
      }
      @media (max-width:370px){
        font-size:  0.5rem;
      }
      a:hover {
        color: variables.$gray-light;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }

.footer {
    display: flex;
    flex-direction: row;
    color: variables.$gray-dark;
    font-family: DMSans, sans-serif;
    font-size: var(fonts.$large);
    font-weight: var(fonts.$regular);
    text-transform: uppercase;

    &__ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      column-gap: 41px;
      @media (max-width:730px){
        column-gap: 20px;
      }
      @media (max-width: 537px){
        display: flex;
        flex-direction:column;
        row-gap: 8px;
        margin-top:40px;
      }
    }

    &__li {
      list-style: none;
      &:hover{
        border-bottom: 1px solid variables.$gray-dark;
      }
    }

    a {
      text-decoration: none;
      color: variables.$gray-dark;
    }
    @media (max-width: 730px) {
      font-size:var(fonts.$small);
    }
  }

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid variables.$gray;
    padding-top: 40px;

    @media (max-width: 730px) {
      column-gap: 10px;
    }
    @media (max-width: 537px){
      display: flex;
      flex-direction:column;
      border-top: none;
    }
  }

.subscribe {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid variables.$black;
    column-gap: 128px;
    padding-bottom: 13px;
    @media (max-width: 730px){
      column-gap: 60px;
    }
    @media (max-width: 537px){
      order:-1;
      padding-bottom: 6px;
      justify-content: space-between;
    }
    &__text {
      color: variables.$gray-dark;
      font-size: var(fonts.$large);
      font-weight: var(fonts.$regular);
      line-height: 27px;
      @media (max-width: 730px){
        font-size: var(fonts.$small);
      }
    }

    &__input {
      outline: none;
      width: 200px;
      border: none;

    }
    .subscribe__arrow{
    &:after{
      content: url("../img/arrow.svg");
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-left: 10px;
      vertical-align: middle;
      @media (max-width: 730px){
        width: 8px;
        margin-left: -20px;
      }
      @media (max-width: 366px){
        width: 5px;
        height: 5px;
        margin-left: -20px;
      }

    }
    &:hover{
      transform:scale(1.5);
    }}
  }

.footer-social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    padding-bottom: 90px;

    &__terms {
      color: variables.$gray-dark;
      font-size: var(fonts.$large);
      font-weight: var(fonts.$regular);
      line-height: 27px;
      .bold{
        font-weight: var(fonts.$bold);
      }
      @media (max-width: 537px){
        order:1;
        font-size:var(fonts.$small);
        margin-top:36px;
      }
    }

    &__ul {
      display: flex;
      flex-direction: row;

      column-gap: 30px;
      @media (max-width: 366px){
        column-gap: 10px;
      }
    }
    &__follow{
    display: none;
      @media (max-width: 537px) {
         color: variables.$black;
        font-family: DMSans, sans-serif;
        font-weight: var(fonts.$regular);
        font-size: var(fonts.$small);
        display: flex;
        align-items: center;
        text-align: center;
      }
      &:after{
        content: "";
        width: 47px;
        border-bottom: 1px solid variables.$black;
        margin: 0 20px;
      }
    }
    svg:hover path {
      fill: variables.$black;
    }
    @media (max-width: 537px){
      display: flex;
      flex-direction: column;
      padding-bottom: 26px;
      margin-top:32px;
    }
  }

.footer__terms {
  display: none;
  @media (max-width: 537px) {
    display: block;
    color: variables.$black;
    font-family: DMSans, sans-serif;
    font-weight: var(fonts.$regular);
    font-size: var(fonts.$small);
  }
}

.burger-menu {
  display: none;
  @media (max-width: 647px) {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    padding-bottom: 18px;
    column-gap: 20px;
    margin-left: 100px;
    order:-1;
  }
}

.burger-menu__button {
  display: none;
}
