$accent:       #A18A68;
$accent-light: #F9F1E7;
$white:        #FFFFFF;
$black:        #000000;
$gray-dark:    #707070;
$gray:         #D8D8D8;
$gray-light:   #EFEFEF;


$regular: 400;
$medium:  500;
$bold:    700;

$large:   16px;
$medium:  14px;
$small:   12px;

$heading1: 33px;
$heading2: 26px;
$heading3: 20px;
$heading5: 16px;