.reviews__block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 42px;
  gap: 30px;
}
.reviews__list {
  display: flex;
  flex-direction: column;
}

.reviews__form {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.reviews__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  color: #707070;
  padding-bottom: 39px;
  margin-top: 24px;
}

.review__items {
  border-bottom: 1px solid #d8d8d8;
  margin-top: 24px;
  h2 {
    font-size: 20px;
    font-weight: 400;
    font-family: DMSans, sans-serif;
  }
  & .rate {
    margin-top: 16px;
  }
  &:last-of-type {
    border-bottom: none;
  }
}
.reviews__title {
  margin-bottom: 52px;
  h1 {
    font-size: 20px;
    font-weight: 400;
    font-family: DMSans, sans-serif;
    @media (max-width: 400px) {
      font-size: 16px;
      line-height: 20px;
    }
  }
}

.add-review__text {
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  color: #707070;
}
.form-field {
  margin-bottom: 16px;

  label {
    display: block;
    margin-bottom: 4px;
    font-weight: bold;
  }

  input[type='text'],
  .rating {
    display: block;
    width: 100%;
    margin-bottom: 46px;
  }
  .rating {
    img {
      margin-right: 10px;
    }
  }
}
input[type='text'] {
  border: none;
  border-bottom: 1px solid #d8d8d8;
}
.review-title {
  margin-bottom: 46px;
  margin-top: 11px;
}
.form-field {
  button {
    padding: 14px 34px;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-size: 16px;
  }
}
