.filter-menu {
  background:white;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: opacity 0.3s ease;
  color: black;
  height: 100vh;
  position: fixed;
  top: 160px;
  right: 0;
//  max-width: 320px;
  z-index: 120;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  max-width: 1440px;
  box-sizing: border-box;
  padding-left:96px;
  padding-right:96px;
  margin: 0 auto ;
}

div.hidden {
  display: none;
}

.filter-btn{
  font-family: DM Sans, sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  height: 53px;
  width: 288px;
  margin-top: 30px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid black;
  &:hover{
    cursor: pointer;
  }
}
.filter-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}