
.burger.active span:nth-child(1) {
  transform: rotate(45deg) translateY(9px);
}
.burger.active span:nth-child(2) {
  opacity: 0;
}
.burger.active span:nth-child(3) {
  transform: rotate(-45deg) translateY(-9px);
}
.burger {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  width: 20px;
  height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 200;
  span {
    display: block;
    height: 2px;
    background: #000;
    transition: 0.3s;
    border-radius: 2px;
  }
}
