@use "reset.scss";
@use "fonts.scss";
@use "variables.scss";
@use "shop.scss";
@use "swiper.scss";
@use "sidebar.scss";

#app {
  width: 100vw;
  height: 100vh;
  background-color: white;
  color: blue;
}
html,body {
  overflow-x:hidden;
  box-sizing:border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body{

  main{
    color: white;
  }

}

a:visited
{
  color: inherit;
  text-decoration: none;
}

a{
  color: inherit;
  text-decoration: none;
}

a:link{
  text-decoration: none;
}

.container{
  max-width: 1248px;
  padding-top: 48px;
  margin: 0 auto;
  padding-left:96px;
  padding-right:96px;
  height: max-content;
  @media (max-width:1024px){
    padding: 0 48px;
  }
  @media (max-width: 768px){
     padding: 0 16px;
  }
  @media (max-width: 600px){
   padding-top: 15px;
  }
}

.header{
  margin-top: 16px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  .logo{

    .title{
      font-family: "Allerta_Stencil", sans-serif;
      color: variables.$black;
      font-weight: variables.$regular;
      font-size: 35px;
      line-height: 41px;
      text-transform: uppercase;
      padding-bottom: 17px;
      &::first-letter {
        color: variables.$accent;
      }

    }
    &__link{
      text-decoration: none;
    }
  }
  @media(max-width: 768px) {
    margin-top: 16px;
  }
}

.menu {
  display: flex;
  flex-direction: row;
  font-size: variables.$large;
  font-family: 'DMSans', sans-serif;
  font-weight: variables.$regular;
  color: variables.$black;
  align-items: flex-start;

  .nav {
    display: flex;
    align-items: flex-start;
    margin-top: auto;
    justify-content: center;
    &__ul {
      display: flex;
      margin-top: auto;

      &.text {
        gap: 64px;
        margin-top: auto;
        @media (max-width: 647px) {
          display: none;
        }
      }

      &.icon {
        gap: 30px;

      }

    }

    &__img {
      margin: {
        left: -16px;
        right: 48px;
      }
    }

    &__li {
      list-style: none;
      padding-bottom: 18px;

      &:not(:nth-child(2)):hover {
        border-bottom: 1px solid variables.$gray-dark;
      }
        @media (max-width: 647px) {
          display: none;
        }
      .underline
      {
        border-bottom: 1px solid variables.$gray-dark;
      }
    }

    &__link {
      text-decoration: none;
      color: variables.$black;

    }

    svg {
      &:hover path {
        fill: variables.$gray-dark;
      }

    }
  }
}

.main-content {
    background-image: url("../img/Img01.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 646px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 39px;
    @media(max-width: 768px) {
      background-image: url('../img/shoppe.png');
      background-repeat: no-repeat;
      background-size: cover;
      padding-left: 8px;
      justify-content: flex-end;
      padding-bottom: 26px;
      height: 354px;
    }
 &__title {
    font-family: "DMSans", sans-serif;
    font-weight: variables.$medium;
    font-size: variables.$heading1;
    @media (max-width: 768px) {
      font-size: variables.$heading3;
    }
    @media (max-width: 537px) {
      font-size: variables.$heading5;
    }
  }

  &__subtitle {
    font-family: "DMSans", sans-serif;
    font-weight: variables.$regular;
    font-size: variables.$heading2;
    align-items: center;
    justify-content: flex-start;
    margin: {
      top: 16px;
      bottom: 48px;
    }
    @media (max-width: 560px) {
      font-size: variables.$medium;
    }
  }
  }

.main-container {
    color: variables.$white;
    overflow-x: hidden;
  }



.title-button {
    font-family: "DMSans", sans-serif;
    font-weight: variables.$bold;
    font-size: variables.$heading3;
    color: variables.$white;
    cursor: pointer;
    border: 2px variables.$white solid;
    background-color: transparent;
    padding: 13px 31px;
    border-radius: 6px;
    @media (max-width: 560px) {
      font-size: variables.$small;
    }
  &:hover{
    background-color: black;
    color: white;
  }
  }

.shop-container {
    justify-content: center;
  }

.shop-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
  row-gap: 170px;
  width:100%;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  grid-template-rows: auto auto;
  margin:
  {
    top: 39px;
    bottom:39px;
  }
  @media (max-width: 368px) {
    grid-template-columns: repeat(2, 1fr);
    margin: 20px auto;
    row-gap: 20px;
  }
}

.shop-item {
  font-family: "DMSans", sans-serif;
  font-size: variables.$heading3;
  left: auto;
  right: auto;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: auto;
}
.shop-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  z-index: 100;


  @media (max-width: 860px) {
    width: 180px;
    height: 180px;
    font-size: variables.$large;
  }

  @media (max-width: 559px) {
    width: 120px;
    height: 120px;
    font-size: variables.$medium;
  }}

  .shop-item{
    &__title {
      font-weight: variables.$regular;
      color: variables.$black;
      margin: 24px auto 16px;
      @media (max-width: 860px) {
        font-size: variables.$large;
      }
      @media (max-width: 559px) {

        font-size: variables.$medium;
      }
    }

    &__price {
      font-weight: variables.$medium;
      color: variables.$accent;
      @media (max-width: 860px) {

        font-size: variables.$large;
      }
      @media (max-width: 559px) {

        font-size: variables.$medium;
      }
       .sale{
        color: #D82700;
        text-decoration: line-through;
         margin-right: 10px;
      }
    }

    @media (max-width: 1390px) {
      width: 20vw;
    }
  }
.shop-item{
  position: relative;
}

.shop-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: variables.$medium;
    font-family: "DMSans", sans-serif;
    margin-top: 64px;
  @media (max-width:320px){
    margin-top: 21px;
  }
    &__text {
      font-size: variables.$heading1;
      color: variables.$black;
      @media (max-width:730px){
        font-size: variables.$heading2;

      }
      @media (max-width:560px){
        font-size: variables.$heading3;
      }
    }

    &__view {
      font-size: variables.$heading3;
      color: variables.$accent;
      top:auto;
      @media (max-width:560px){
        font-size: variables.$heading5;
      }
      @media (max-width:370px){
        font-size:  variables.$medium;
      }
      a:hover {
        color: variables.$black;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }

.footer {
    display: flex;
    flex-direction: row;
    color: variables.$gray-dark;
    font-family: DMSans, sans-serif;
    font-size: variables.$large;
    font-weight: variables.$regular;
    text-transform: uppercase;

    &__ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      column-gap: 41px;
      @media (max-width:730px){
        column-gap: 20px;
      }
      @media (max-width: 537px){
        display: flex;
        flex-direction:column;
        row-gap: 8px;
        margin-top:40px;
      }
    }

    &__li {
      list-style: none;
      &:hover{
        border-bottom: 1px solid variables.$gray-dark;
        color: black;
      }
    }

    a {
      text-decoration: none;
      color: variables.$gray-dark;
    }
  a:hover {
    color: black
  }
    @media (max-width: 1024px) {
      font-size: variables.$small;
    }
  }

.footer-container {

    padding-top: 40px;

    @media (max-width: 730px) {
      column-gap: 10px;
    }
    @media (max-width: 537px){
      display: flex;
      flex-direction:column;
      border-top: none;
    }
  }

.subscribe {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid variables.$black;
    column-gap: 128px;
    padding-bottom: 13px;
    @media (max-width: 730px){
      column-gap: 60px;
    }
    @media (max-width: 537px){
      order:-1;
      padding-bottom: 6px;
      justify-content: space-between;
    }
    &__text {

    }

    &__input {
      outline: none;
      width: 300px;
      border: none;
      font-family: DMSans, sans-serif;
      color: variables.$gray-dark;
      font-size: variables.$large;
      font-weight: variables.$regular;
      line-height: 27px;
      @media (max-width: 1024px){
        font-size: variables.$small;
      }
    }
    .subscribe__arrow{
    &:after{
      content: url("../img/arrow.svg");
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-left: 10px;
      vertical-align: middle;
      @media (max-width: 730px){
        width: 8px;
        margin-left: -20px;
      }
      @media (max-width: 366px){
        width: 5px;
        height: 5px;
        margin-left: -20px;
      }

    }
    &:hover{
      transform:scale(1.5);
      cursor: pointer;
    }}
  }

.footer-social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 39px;
  padding-top:58px;
    top:auto;
    border-top: 1px solid variables.$gray;
    &__terms {
      font-family: "DMSans", sans-serif;
      color: variables.$black;
      font-size: variables.$large;
      font-weight: variables.$regular;
      line-height: 27px;
      .bold{
        font-weight: variables.$bold;
      }
      @media (max-width: 537px){
        order:1;
        font-size: variables.$small;
        margin-top:36px;
      }
    }

    &__ul {
      display: flex;
      flex-direction: row;

      column-gap: 30px;
      @media (max-width: 366px){
        column-gap: 10px;
      }
    }
    &__follow{
    display: none;
      @media (max-width: 537px) {
         color: variables.$black;
        font-family: DMSans, sans-serif;
        font-weight: variables.$regular;
        font-size: variables.$small;
        display: flex;
        align-items: center;
        text-align: center;
      }
      &:after{
        content: "";
        width: 47px;
        border-bottom: 1px solid variables.$black;
        margin: 0 20px;
      }
    }
    svg:hover path {
      fill: variables.$black;
    }
    @media (max-width: 537px){
      display: flex;
      flex-direction: column;
      padding-bottom: 26px;
      margin-top:32px;
    }
  }

.footer__terms {
  display: none;
  @media (max-width: 537px) {
    display: block;
    color: variables.$black;
    font-family: DMSans, sans-serif;
    font-weight: variables.$regular;
    font-size: variables.$small;
  }
}

.burger-menu {
  display: none;
  @media (max-width: 647px) {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    padding-bottom: 18px;
    column-gap: 20px;

    order:-1;
  }
}

.burger-menu__button {
  display: none;
}
