@use '../../styles/variables.scss';
.item-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  .cart-img {
    width: 136px;
    height: 136px;
  }
}

.items-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}
.item-content {
  margin-left: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  position: relative;
  .item-color {
    color: #707070;
  }
  .item-price {
    color: #a18a68;
    .sale {
      color: #d82700;
      text-decoration: line-through;
    }
  }
  .item-quantity {
    color: #707070;
    position: absolute;
    bottom: 0;
    .item-timer {
      margin: auto 7px;
    }
    span:first-child {
      font-size: 12px;
      margin-right: 8px;
    }
  }
}

.cart-item__price {
  font-weight: variables.$medium;
  color: variables.$accent;
  @media (max-width: 860px) {
    font-size: variables.$large;
  }
  @media (max-width: 559px) {
    font-size: variables.$medium;
  }

  .sale {
    color: #d82700;
    text-decoration: line-through;
    margin-right: 10px;
  }
}

.add-item:hover,
.remove-item:hover {
  cursor: pointer;
}

.delete-button {
  border: none;
  outline: none;
  &:hover {
    cursor: pointer;
  }
}
